
# BEGIN WordPress
<IfModule mod_rewrite.c>
Options +FollowSymlinks

RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^wp-content/uploads/(.*)$ https://dpg-website.s3.amazonaws.com/wp-content/uploads/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

</IfModule>

# END WordPress